<%- include('navbar.ejs')%>
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12">
            <a href="/back_details">
                <button class="btn btn-outline-danger">Back</button>
            </a>
        </div>
        <div class="mt-2 col-md-12 pb-0 mb-0">
            <h2 class="alert alert-danger text-center">Course Details</h2>
        </div>
        <div class="col-md-6 pt-0 mt-0">
            <img src="/uploads/<%= details[0].course_image%>" style="height:350px" class="img-fluid">
        </div>
        <div class="col-md-6 text-dark">
            <h3>Name : <%= details[0].course_name%></h3>
            <br>
            <h5>Duration : <%= details[0].course_duration%></h5>
            <h3>Price : &#8377; <%= details[0].course_price%>.00</h3>
            <br>
            <h5>Mentor : <%= details[0].course_mentor%></h5>
            <h5>Platform : <%= details[0].course_platform%></h5>
            <br><br>
            <% if(details[0].course_sample_video) { %>
            <button class="btn btn-primary" data-toggle="modal" data-target="#play_video"><i class="fa fa-play"></i></button>
            <% } %>
            <% if(!is_purchase) { %>
            <a href="/confirm_seat/<%=details[0].course_id%>">
            <button class="btn btn-dark ">Confirm Your Seat</button>
            </a>
            <% }
            else{
            %>
              <button class="btn btn-dark ">Allready Purchase</button>
            <% } %>

        </div>
        <div class="col-md-12 mt-5"> 
            <%- details[0].course_detail.replaceAll("\n","<br>") %>
        </div>
    </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="play_video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= details[0].course_name%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <video class="w-100" controls>
            <source src="/uploads/<%= details[0].course_sample_video %>" width="400px" >
          </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
